@model Model.Entity.Usuario
@{
    ViewBag.Title = Model.id > 0 ? "Editar" : "Nuevo";
    List<Model.Entity.Rol> roles = ViewBag.Roles;
}

<h2>@(Model.id > 0 ? Model.nombre+" "+Model.apellido : "Nuevo Usuario")</h2>

@using (Html.BeginForm("Guardar", "Default", FormMethod.Post))
{
    @Html.HiddenFor(x => x.id)

    <div class="form-group">        
        @Html.LabelFor( x => x.nombre)
        @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.nombre,null, new {@class = "label label-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.apellido)
        @Html.TextBoxFor(x => x.apellido, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.apellido, null, new { @class = "label label-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.fechaNacimiento)
        @Html.TextBoxFor(x => x.fechaNacimiento, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.fechaNacimiento, null, new { @class = "label label-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.idRol)
        <select name="idRol" class="form-control">
            <!--<option value="0">Selecciona:</option>-->
            @foreach (var r in roles)
            {
                <option @(r.idRol == Model.idRol ? "selected" : "") value="@r.idRol">@r.nombreRol</option>
            }
        </select>
        @Html.ValidationMessageFor(x => x.idRol, null, new { @class = "label label-danger" })
    </div>

    <input type="submit" class="btn btn-info"/>

}
