@model List<Model.Entity.Usuario>
@{
    ViewBag.Title = "Lista de Usuarios";
}

<h2>Usuarios</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Rol de Usuario</th>
            <th colspan="2">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.nombre</td>
                <td>@item.apellido</td>
                <td>@item.fechaNacimiento</td>
                <td>@item.Rol.nombreRol</td>
                <td>
                    <a href=@Url.Action("Editar/"+@item.id) class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href=@Url.Action("Eliminar/"+@item.id) onclick="return confirm('Esta seguro de eliminar ?');" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
